*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header{
    width: 1525px;
    height: 808px;
    background-image: url(images/banner/banner3.png);
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.banner{
    width: 525px;
    margin-right: 150px;
}


.banner-heading{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    text-align: right;  
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: right;
    margin-bottom: 30px; 
    margin-top: 30px;
}

.banner-button{
    margin-left: 365px;
    color: #005FAC;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    padding: 10px 25px;
    width: 160px;
    height: 64px;
    left: 1210px;
    border-radius: 5px;
    border: none;
}
 
main{
    margin: 0px 200px;
}

.failure-section{
    margin-top:130px;
    display: flex;
    gap: 90px;
    align-items: center;
}

.failure-section-container{
    width: 416px;
    height: 400px;

}

.failure-section-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}


.failure-section-description{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.failure-section-list{
    width: 416px;
    height:160px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

ul{
    list-style: none;
    padding-left: 0%;
    

}
.fa-check{
    color: rgb(171, 255, 87);
    margin-right: 10px;
}

.my-plan{
    margin-top: 130px;
}

.my-plan-title{
    color: #151414;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}


.my-plan-icons{
    margin-top: 60px;
    display: flex;
    gap: 250px;
}


.gradient-overlay{
    background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(images/watch.png);
    background-size: cover;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    margin-top: 60px;
}

.gradient-header{
    padding: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.gradient-button{
    margin: 5px 70px;
    color: #005FAC;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    border-width:0;
}

.footer-section{
    margin-top: 130px;
    width: 1525px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #151414;
    
}

.footer-section-left{
    width: 350px;
    height: 217px;
    
}

.footer-header{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;


}

.footer-section-description{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#F8F8F8;
    font-weight: 400;
    size: 16px;
    line-height: 26px;
}

.footer-section-icon{
    width: 175px;
    height: 46px;
    display: flex;
    gap: 20px;    
}

.footer-section-right{
    width: 350px;
    height: 217px;
}

.input-heading{
    color: #FFFFFF;
    
}

.input-email{
    color: #FFFFFF;
    border: 1px solid;
    border-color:#FFFFFF ;
    background-color: #151414;
    width: 350px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

.footer-btn{
    border-radius: 8px;
    background-color: #005FAC;
    color: #FFFFFF;
    width: 170.11px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    border-width: 0;
}